body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    font-size: 32px;
    color: #004FFF;
    margin-bottom: 50px;
}

p {
    font-size: 18px;
    color: #fff;
}

#btnDesigner {
    background-color: #004FFF;
    color: #fff;
    padding: 15px 45px;
    font-weight: bold;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    margin: 50px 20px;
}

#btnDesigner:hover {
    background-color: #3675ff;
}

#btnGestor {
    background-color: #004FFF;
    color: #fff;
    padding: 15px 45px;
    font-weight: bold;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}

#btnGestor:hover {
    background-color: #3675ff;
}

.buttons button:hover {
    opacity: 0.9;
}

h2 {
    color: #004FFF;
    font-size: 32px;
}

input {
    padding: 15px 45px;
    border: none;
    border-radius: 100px;
    margin: 20px;
}

#descricaoCores {
    padding: 15px 45px;
    border: none;
    border-radius: 100px;
}

#gerarPaleta {
    background-color: #004FFF;
    color: #fff;
    padding: 15px 45px;
    font-weight: bold;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}

#gerarPaleta:hover {
    background-color: #3675ff;
}

#novaPaleta {
    background-color: #004FFF;
    color: #fff;
    padding: 15px 45px;
    font-weight: bold;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    margin-top: 50px;
}

#novaPaleta:hover {
    background-color: #3675ff;
}

label {
    color: #fff;
    font-size: 18px;
}

#numCampanhas, #metaCliques, #metaConversoes {
    padding: 15px 45px;
    border: none;
    border-radius: 100px;
}

#metaCliques, #metaConversoes {
    margin-top: 50px;
}

#addCampanhaBtn, #iniciarAnalise {
    background-color: #004FFF;
    color: #fff;
    padding: 15px 45px;
    font-weight: bold;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}

#addCampanhaBtn:hover, #iniciarAnalise:hover {
    background-color: #3675ff;
}

h3 {
    color: #fff;
    font-size: 32px;
}

.hidden {
    display: none;
}

.color-square {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 2px;
    color: white;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    font-size: 16px;
}